section#about .about_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
section#about .about_title {
  order: 2;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  gap: 1vw;
}
section#about .about_title p {
  font-size: var(--fs-title-mobile);
  text-transform: capitalize;
}
section#about .about_title svg {
  height: 4vw;
}
section#about .about_name {
  padding-right: 5px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  color: var(--blue);
}
section#about .about_name::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* right: 0; */
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--darker-grey);
  border-left: 5px solid;
  animation: blink_cursor 0.8s linear infinite,
    typing_words 2.5s steps(18) forwards;
}
section#about .about_sub-title {
 order: 3;
 margin: 3px 0;
 align-self: flex-start;
 list-style: none;
 font-size: .6rem;
 display:flex;
 flex-flow: row wrap;
 gap: 1.5vw;
 text-transform: capitalize;
}
section#about .about_sub-title li {
  outline: 1px solid var(--blue);
  background: var(--grey);
  color: var(--white);
  padding: 3px 7px;
  border-radius: 15px;
}
section#about img {
  order: 1;
  margin: 30px 0;
  height: 200px;  
  width: max-content;
}
section#about .about_desc {
  order: 4;
  margin: .9rem 0;
  text-align: center;
  line-height: 25px;
  font-size: var(--fs-paragraph-mobile);
}

@keyframes blink_cursor {
  50% {
    border-left: transparent;
  }
}
@keyframes typing_words {
  100% {
    left: calc(100% - 5px);
  }
}
@media screen and (min-width: 425px) {
  section#about .about_title p {
    font-size: var(--fs-title-tablet);
  }
  section#about .about_sub-title {
    font-size: .7rem;
  }
  section#about .about_desc {
    font-size: var(--fs-paragraph-tablet);
  }
}
@media screen and (min-width: 768px) {
/* buat lagi!!!!! semangat yok */
}
