header#carousel {
    width: 100%;
    height: calc(100vh - 70px);
}
header#carousel .carousel_conntainer {
    width: 100%;
    height: 100%;
    padding: 2vw 0 2vw 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
/* carousel desc */
header#carousel .carousel_desc {
    /* background: red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
    color: var(--white);
}
header#carousel .carousel_desc p {
    margin-bottom: 10px;
    text-transform: capitalize;
    align-self: flex-start;
    text-align: start;
    font-size: 4vw;
}
header#carousel .carousel_desc .list_name {
    /* outline: 1px solid blue; */
    height: 8.6vw;
    text-align: center;
    box-shadow: inset 0px 0px 20px rgb(51, 51, 51);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
}
header#carousel .carousel_desc .list_name span.name_item {
    display: block;
    /* outline: 1px solid red; */
    z-index: -1;
    text-transform: capitalize;
    /* border: 1px solid red; */
    font-weight: 500;
    font-size: 7vw;
    animation: transform_words 8s ease-out infinite;
    /* transform: translateY(-342%); */
}
header#carousel .carousel_desc .list_name span.name_item span {
    font-weight:lighter;
    color: var(--blue);
}
/* transform_words animation */
@keyframes transform_words {
    0% {transform: translateY(0%);}
    10% {transform: translateY(0%);}
    30% {transform: translateY(-114%);}
    45% {transform: translateY(-114%);}
    60% {transform: translateY(-228%);}
    82% {transform: translateY(-228%);}
    100% {transform: translateY(-349%);}
}
header#carousel .carousel_desc .social_media {
    display: flex;
    gap: 3vw;
}
header#carousel .carousel_desc .social_media a {
    color: var(--darker-white);
    width: 4vw;
    height: 4vw;
}
header#carousel .carousel_desc .social_media a:hover {
    color: var(--blue);
}
header#carousel .carousel_desc a.button {
    width: fit-content;
    font-size: 3vw;
    color: var(--blue);
    text-decoration: none;
    margin: 15px 0;
    outline: .3vw solid var(--blue);
    padding: 1.5vw 2vw;
    border-radius: 10px;
    transition: var(--transition-1);
}
header#carousel .carousel_desc a.button:hover {
    background: var(--blue);
    color: var(--darker-grey);
    outline: .3vw solid var(--white);
}


/* carousel image */
header#carousel .carousel_image {
    width: 100%;
    height: 100%;
    flex: 1;
    background-color: red;
}

@media screen and (min-width: 768px) {

    header#carousel .carousel_conntainer {
        padding: 0;
        flex-direction: row;
    }
    header#carousel .carousel_desc {
        align-items: flex-start;
    }
    header#carousel .carousel_desc .list_name {
        height: 4.5vw;
        text-align: start;
        box-shadow: inset 0px 0px 20px rgb(51, 51, 51);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: .7vw;
    }
    header#carousel .carousel_desc .list_name span.name_item {
        display: block;
        z-index: -1;
        text-transform: capitalize;
        /* border: 1px solid red; */
        font-weight: 500;
        font-size: 3.5vw;
        animation: transform_words 8s ease-out infinite;
        /* transform: translateY(-342%); */
    }
    header#carousel .carousel_desc .list_name span.name_item span {
        font-weight:lighter;
        color: var(--blue);
    }
    /* transform_words animation */
    @keyframes transform_words {
        0% {transform: translateY(0%);}
        10% {transform: translateY(0%);}
        30% {transform: translateY(-114%);}
        45% {transform: translateY(-114%);}
        60% {transform: translateY(-228%);}
        82% {transform: translateY(-228%);}
        100% {transform: translateY(-349%);}
    }
}