nav {
    outline: 1px solid red;
}
nav .menu_toggle {
    padding: .4rem;
    width: fit-content;
    height: auto;
    border-radius: 5px;
    background: var(--grey);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    position: fixed;
    top: 20px;
    right: 20px;
}
nav .menu_toggle span.doted-menu {
    display: none;
}
nav .menu_toggle span {
    display: inline-block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: var(--blue);
    transition: .3s ease-out;
}
nav .menu_toggle span:first-child {
    width: 13px;
    align-self: flex-start;
}
nav .menu_toggle span:nth-child(3) {
    width: 13px;
    align-self: flex-end;
}
nav .menu_toggle span.active {
    width: 27px;
}
nav .nav_bar {
    list-style: none;
    position: fixed;
    top: 60px;
    right: 20px;
    transition: .3s ease-out;
    transform: translate(-30px);
    opacity: 0;
    z-index: -1;
}
nav .nav_bar li {
    margin: 5px 0;
}
nav .nav_bar li a {
    width: 75px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background: var(--grey);
    text-align: center;
    color: var(--darker-white);
    text-decoration: none;
    font-size: var(--fs-paragraph-mobile);
    font-weight: 500;
    text-transform: capitalize;
}
nav .nav_bar li a:hover {
    color: var(--white);
    transform: scale(.9);
}
nav .show_nav-bar {
    transform: translate(0px);
    opacity: 1;
    z-index: 10;
}

@media screen and (min-width: 425px) {
    nav .menu_toggle {
        padding: .5rem;
        gap: .2rem;
    }
    nav .menu_toggle span {
        width: 26px;
        height: 4px;
        border-radius: 5px;
    }
    nav .nav_bar li {
        margin: 7px 0;
    }
    nav .nav_bar li a {
        width: 90px;
        font-size: var(--fs-paragraph-tablet);
    }
}
@media screen and (min-width: 768px) {
    nav .menu_toggle {
        width: 45px;
        padding: 5px;
        gap: 5px;
        left: 50%;
        transform: translate(-50%);
        flex-flow: row wrap;
    }
    nav .menu_toggle span.doted-menu {
        display: inline-block;
    }
    nav .menu_toggle span,
    nav .menu_toggle span:first-child, 
    nav .menu_toggle span:nth-child(3) {
        width: 7px;
        height: 7px;
    }
}
