nav {
    position: fixed;
    top: 10px;
    right: 20px;
}
nav .menu_toggle {
    background: var(--grey);
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 0;
}
nav .menu_toggle span{
    transition: var(--transition-1);
    display: inline-block;
    width: 25px;
    height: 3px;
    margin: 2px 0;
    border-radius: 2px;
    background: var(--blue);
}
nav .menu_toggle span:nth-child(1) {
    width: 15px;
    height: 3px;
}
nav .menu_toggle span:nth-child(2) {
    width: 20px;
}
nav .menu_toggle:hover span {
    width: 25px;
}

/* nav bar */
nav .nav_bar {
    list-style: none;
    position: absolute;
    top: 45px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    z-index: -1;
    transition: var(--transition-1);
    transform: translate(-30px);
    opacity: 0;
}
nav .show_nav-bar {
    transform: translate(0px);
    opacity: 1;
    z-index: 1;
}
nav .nav_bar li {
    display: inline-block;
}
nav .nav_bar a {
    font-size: .8rem;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    width: 100px;
    padding: 5px 7px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
    background: rgba(85, 85, 85, 0.5);
    backdrop-filter: blur(2px);
}

@media screen and (min-width: 768px) {
    nav {
        left: 0;
        right: 0;
    }
    nav .nav_container {
        display: flex;
        justify-content: center;
    }
    nav .menu_toggle {
        display: none;
    }
    nav .nav_bar {
        background: rgba(85, 85, 85, 0.2);
        backdrop-filter: blur(2px);
        border-radius: 30px;
        padding: .9rem;
        opacity: 1;
        z-index: 3;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
    }
    nav .nav_bar a {
        background: transparent;
        backdrop-filter: unset;
        font-size: 1rem;
    }
}