section.project {
  width: 100%;
  height: max-content;
  padding: 100px 10px;

  .container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      width: fit-content;
      height: fit-content;
      margin-bottom: 150px;
      color: whitesmoke;
      position: relative;

      &::after {
        content: "";
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        /* background-color: #ffd700; */
        border-bottom: 3px solid gold;
      }
    }

    .project-content {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      .card {
        width: 500px;
        height: max-content;
        background-color: rgba(0, 0, 0, 0);
        border:0;
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        
        .card-content {
          width: 100%;

          iframe, img {
            width: 100%;
            height: 282px;
          }
          
        }

        .card-desc {

          p{
            margin: 0;
            color: white;
            font-size: 500;
          }

          .card-desc-title {
            color: gold;
            font-size: 28px;
            font-weight: 600;
            text-transform: capitalize;
          }

          .description {
            text-transform: capitalize;
          }

          .developer-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: max-content;
            margin-top: 10px;

            .gold-text {
              color: gold;
            }
            
            .container-profile {
              margin-top: 7px;
              height: 40px;

              .developer {
                height: 100%;
                width: max-content;
                display: flex;
                flex-direction: row;

                .developer-img {
                  height: 100%;
                  border-radius: 100%;
                  background-color: gold;
                  overflow: hidden;
                  margin-right: 8px;

                  img {
                    height: 100%;
                  }
                }

                .developer-name {
                  height: 100%;
                  width: max-content;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                }
              }
            }
          }

          .tools-container {
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            .gold-text{
              color: gold;
            }

            .tools-icon {
              height: 40px;
              width: 100%;

              img {
                height: 100%;
                margin-right: 3px;
              }
            }
          }

          a {
            border-radius: 0;
            margin-top: 15px;
          }


        }
      }
    }
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  section.project {
    padding: 60px 10px;

    .container {
      // background-color: blue;
      .title {
        font-size: 27px;
      }
      .project-content {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .card {
          width: 300px;

          .card-content {

            iframe, img {
              width: 100%;
              height: 169px;
            }
          }

          .card-desc {
            p {
              font-size: 15px;
            }
            .card-desc-title {
              font-size: 20px;
            }

            .developer-container {
              .container-profile {
                height: 30px;
              }
            }

            .tools-container {
              .tools-icon {
                height: 30px;
              }
            }

            a {
              font-size: 16px;
            }
          }

       
        }
      }
    }
  }
}

