section.services {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.services .container-fluid{
    width: 100%;
    height: max-content;
    padding: 100px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: center;
    background-image: url(/assets/img/pexels-jan-karan-4572176.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  section.services .container-fluid::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffd9009f;
    position: absolute;
    left: 0;
    right: 0;
  
  }
  section.services .title{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  section.services .title h1{
    width: max-content;
    background-color: aliceblue;
    display: flex;
     font-weight: 700;
    font-size: 50px;
    padding: 10px;
    box-shadow: -4px 25px 0px 11px rgb(32 32 32);
  }
  section.services .title p{
    font-weight: 600;
    color: gold;
  }
  section.services .card{
    width: 45%;
    height: max-content;
    display: flex;
    z-index: 5;
    flex-direction: row;
    overflow: hidden;
    border: 0;
    border-radius: 5px;
    margin: 50px 0;
    
    background-color: rgb(32, 32, 32);
    border-radius: 0px 4px 4px 0px;
    box-shadow: 0px 0px 0px 20px rgb(32, 32, 32);
  }
  section.services .card:nth-child(even){
    border-radius: 4px 0px 0px 4px;
  }
  section.services .card-img{
    width: 50%;
    height: max-content;
    background-color: #ffd700;
  }
  section.services .card-img img{
    width: 100%;
  }
  section.services .card .card-desc{
    background-color: whitesmoke;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px 0px 0px 5px;
  }
  section.services .card .card-desc a{
    text-decoration: none;
    color: rgb(32, 32, 32);
  }
  section.services .card .card-desc a:hover{
    color: rgb(65, 65, 250);
  }
  section.services .card:nth-child(even) .card-desc{
    border-radius: 0px 5px 5px 0px;
  }
