nav {
  background-color: rgb(32, 32, 32);
  width: 100%;
}

nav .container-fluid button {
  background-color: #ffd700;
}

nav .nav-link {
  color: gold;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.4, 0.82, 0.32, 0.96);
}

nav .nav-link.on {
  color: whitesmoke;
}

nav .nav-link.on i {
  color: gold;
}

nav .nav-link i {
  color: rgba(0, 0, 0, 0);
  transition: 0.3s cubic-bezier(0.4, 0.82, 0.32, 0.96);
}

nav .nav-link:hover {
  color: whitesmoke;
}

nav .nav-link:hover i {
  color: #ffd700;
  transition: 0.3s cubic-bezier(0.27, 0.74, 0.45, 0.9);
}

section.contact {
  overflow: hidden;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  position: fixed;
  bottom: 75px;
  left: 20px;
  transition: 0.7s cubic-bezier(0.07, 1.09, 0.56, 1.22);
  box-shadow: 0px 0px 3px 0px rgba(32, 32, 32, 0.411);
  z-index: 1000;
}

section.contact .icon {
  float: left;
  width: 100%;
  height: 100%;
}

section.contact .icon i {
  display: block;
  color: rgb(32, 32, 32);
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

section.contact .desc {
  float: left;
  height: 100%;
  width: 75%;
}

section.contact .desc a {
  display: none;
}

section.contact:hover {
  background-color: #ffd700;
  width: 160px;
  box-shadow: 0px 0px 3px 0px rgba(32, 32, 32, 0.336);
}

section.contact:hover .icon {
  width: 25%;
}

section.contact:hover .desc a {
  box-sizing: border-box;
  color: rgb(32, 32, 32);
  display: block;
  line-height: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
}

/* skills */
section.skills {
  background-color: #ffd700;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.skills .container {
  width: 100%;
  background-color: #ffd700;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 10px;
}

section.skills .title {
  width: 470px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

section.skills .title p {
  margin-top: -5px;
}

section.skills .title h1 {
  font-weight: 700;
}

section.skills .card {
  width: 550px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 8px -1px rgba(8, 8, 8, 0.65);
  background-color: whitesmoke;
}

section.skills .card .card-desc {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 20px;
}

section.skills .card .card-img {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

section.skills .card-img img {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

/* ======================== RESPONSIVE ====================== */
@media (max-width: 575.98px) {
  section.skills .container {
    padding: 25px 10px;
  }
  section.skills .container .title {
    margin: 0 50px 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    margin-bottom: 20px;
  }
  section.skills .container .title h1 {
    font-size: 24px;
  }
  section.skills .container .title p {
    display: none;
  }
  section.skills .container .title::before {
    content: "";
    width: 50%;
    height: 100%;
    border-bottom: 2px solid whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  section.skills .container .card {
    flex-direction: column-reverse;
    max-width: 300px;
    min-width: 290px;
  }
  section.skills .container .card .card-desc {
    width: 100%;
    padding: 10px;
  }
  section.skills .container .card .card-desc h3 {
    font-size: 18px;
  }
  section.skills .container .card .card-desc p {
    font-size: 16px;
  }
  section.skills .container .card .card-img {
    width: 100%;
  }
}
section.certification {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(32, 32, 32);
  padding: 100px 20px;
}
section.certification .container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}
section.certification .container .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: whitesmoke;
  position: relative;
  margin-bottom: 100px;
}
section.certification .container .title::before {
  content: "";
  width: 50%;
  height: 100%;
  border-bottom: 3px solid gold;
  position: absolute;
  left: 0;
  bottom: 0;
}
section.certification .container .card-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}
section.certification .container .card-container .card {
  background-color: rgba(0, 0, 0, 0);
  width: 331px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  border: 0;
  overflow: hidden;
  border-radius: 0;
  margin: 20px;
}
section.certification .container .card-container .card .card-img {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0px 0px 5px 0px rgb(32, 32, 32);
  position: relative;
  z-index: 10;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
section.certification .container .card-container .card .card-img img {
  width: 100%;
}
section.certification .container .card-container .card .card-desc {
  z-index: 10;
  padding: 10px;
  width: 50%;
  height: 100%;
  color: whitesmoke;
}
section.certification .container .card-container .card .card-desc h5 {
  text-transform: capitalize;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  text-shadow: 1px 1px 0px rgb(32, 32, 32);
}
section.certification .container .card-container .card::before {
  content: "";
  width: 70%;
  height: 100%;
  background-color: rgb(255, 217, 0);
  position: absolute;
  border-radius: 10px;
  right: 0;
  top: 0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
section.certification .container .card-container .card:hover::before {
  background-color: whitesmoke;
}
section.certification .container .card-container .card:hover .card-desc {
  color: gold;
}

/* ======================== RESPONSIVE ====================== */
@media (max-width: 575.98px) {
  section.certification {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 25px 10px;
  }
  section.certification .container .title {
    margin-bottom: 25px;
  }
  section.certification .container .title h1 {
    font-size: 24px;
  }
  section.certification .container .card-container {
    flex-direction: column;
  }
  section.certification .container .card-container .card {
    width: 280px;
    margin-bottom: 15px;
  }
}
footer {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 0;
  background-color: black;
  z-index: 20;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container .footer-spec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 60px;
}
footer .container .footer-spec div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 10px;
  border-left: 2px solid gold;
}
footer .container .footer-spec ul {
  margin: 0;
  padding: 0;
}
footer .container .footer-spec ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .container .footer-spec a {
  text-decoration: none;
  color: whitesmoke;
}
footer .container .footer-spec a:hover {
  color: rgb(66, 66, 253);
}
footer .container .footer-spec h5 a {
  color: gold;
}
footer .container .container-icon {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  position: relative;
  margin-bottom: 60px;
  border-top: 1px solid whitesmoke;
}
footer .container .container-icon a {
  color: gold;
}
footer .container .container-icon a p {
  font-size: 25px;
  padding: 5px 10px;
}
footer .container .container-icon a:hover {
  color: rgb(66, 66, 253);
}
footer .container .desc p {
  color: whitesmoke;
  text-align: center;
}

@media (max-width: 575.98px) {
  footer .container .footer-spec {
    flex-wrap: wrap;
  }
  footer .container .footer-spec div {
    border: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10px 15px 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: rgb(32, 32, 32);
}

/* TOOLS */
/* gold-text */
.gold-text {
  color: gold;
}

.white-text {
  color: whitesmoke;
}

.dark-text {
  color: rgb(32, 32, 32);
}

/* btn */
.btn {
  background-color: gold;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(32, 32, 32);
  text-decoration: none;
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn.dark-bg {
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  border: 1px solid gold;
}

.btn:hover {
  background-color: rgb(32, 32, 32);
  border: 1px solid gold;
  color: whitesmoke;
}

/* ======================== RESPONSIVE ====================== *//*# sourceMappingURL=main.css.map */