nav {
  background-color: rgb(32, 32, 32);
  width: 100%;
}

nav .container-fluid button {
  background-color: #ffd700;
}

nav .nav-link {
  color: gold;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.4, 0.82, 0.32, 0.96);
}

nav .nav-link.on {
  color: whitesmoke;
}

nav .nav-link.on i {
  color: gold;
}

nav .nav-link i {
  color: rgba(0, 0, 0, 0);
  transition: 0.3s cubic-bezier(0.4, 0.82, 0.32, 0.96);
}

nav .nav-link:hover {
  color: whitesmoke;
}

nav .nav-link:hover i {
  color: #ffd700;
  transition: 0.3s cubic-bezier(0.27, 0.74, 0.45, 0.9);
}

section.contact {
  overflow: hidden;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  position: fixed;
  bottom: 75px;
  left: 20px;
  transition: 0.7s cubic-bezier(0.07, 1.09, 0.56, 1.22);
  box-shadow: 0px 0px 3px 0px rgba(32, 32, 32, 0.411);
  z-index: 1000;
}

section.contact .icon {
  float: left;
  width: 100%;
  height: 100%;
}

section.contact .icon i {
  display: block;
  color: rgb(32, 32, 32);
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

section.contact .desc {
  float: left;
  height: 100%;
  width: 75%;
}

section.contact .desc a {
  display: none;
}

section.contact:hover {
  background-color: #ffd700;
  width: 160px;
  box-shadow: 0px 0px 3px 0px rgba(32, 32, 32, 0.336);
}

section.contact:hover .icon {
  width: 25%;
}

section.contact:hover .desc a {
  box-sizing: border-box;
  color: rgb(32, 32, 32);
  display: block;
  line-height: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
}

section.intro {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
section.intro .container {
  width: 100%;
  height: 100%;
  padding: 50px 10px 100px 10px;
}
section.intro .container .card {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(32, 32, 32);
}
section.intro .container .card .card-img {
  position: relative;
  width: 50%;
  height: -moz-max-content;
  height: max-content;
}
section.intro .container .card .card-img img {
  width: 100%;
}
section.intro .container .card .card-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgb(32, 32, 32), rgba(32, 32, 32, 0.5), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  left: 0;
}
section.intro .container .card .card-body {
  height: 100%;
  width: 50%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
section.intro .container .card .card-body .header,
section.intro .container .card .card-body .desc,
section.intro .container .card .card-body .container-btn {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 0;
}
section.intro .container .card .card-body .container-btn .btn {
  margin-right: 10px;
}

section.services {
  box-sizing: border-box;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 100px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

section.services .container {
  box-sizing: border-box;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 0px;
}

section.services .container .title {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: flex-start;
  z-index: 1;
}

section.services .container .title h1 {
  color: whitesmoke;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.644);
  width: -moz-max-content;
  width: max-content;
  display: flex;
  font-weight: 700;
}

section.services .desc-title {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  height: max-content;
  display: flex;
  align-self: flex-start;
  z-index: 1;
  text-transform: capitalize;
  margin-bottom: 70px;
}
section.services .desc-title p {
  color: gold;
}

section.services .container-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 246px;
  height: -moz-max-content;
  height: max-content;
}

section.services .card {
  width: 210px;
  height: 270px;
  padding: 20px;
  margin: 15px;
  background-color: white;
  box-shadow: 0px 0px 7px 0px rgba(32, 32, 32, 0.473);
  z-index: 10;
}

section.services .card a {
  text-decoration: none;
}

section.services .card p:first-child {
  margin: 0 0 25px;
}

section.services .card h4 {
  color: black;
}

section.services .card p:last-child {
  color: rgb(58, 58, 58);
}

section.services .card p:first-child i {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 30px;
  padding: 0 6px;
  border-radius: 50%;
}

section.services .card p i.bi-arrow-right-short {
  color: black;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.24, 0.77, 0.49, 0.96);
}

section.services .card:hover p i.bi-arrow-right-short {
  padding-left: 15px;
  opacity: 1;
}

section.services .card p:first-child i.bi-hdd-rack {
  background-color: rgba(255, 0, 0, 0.3);
  color: rgb(200, 0, 0);
  box-shadow: 0 0 0 8px rgba(255, 0, 0, 0.1);
}

section.services .card p:first-child i.bi-laptop {
  background-color: rgba(183, 0, 255, 0.3);
  color: rgb(183, 0, 255);
  box-shadow: 0 0 0 8px rgba(183, 0, 255, 0.1);
}

section.project {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 100px 10px;
}
section.project .container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.project .container .title {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 150px;
  color: whitesmoke;
  position: relative;
}
section.project .container .title::after {
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /* background-color: #ffd700; */
  border-bottom: 3px solid gold;
}
section.project .container .project-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
section.project .container .project-content .card-video {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
section.project .container .project-content .card-video .video-container {
  width: 45%;
  background-color: aliceblue;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
}
section.project .container .project-content .card-video .video-container iframe {
  width: 100%;
}
section.project .container .project-content .card-video .desc-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
section.project .container .project-content .card-video .desc-container p {
  margin: 0;
}
section.project .container .project-content .card-video .desc-container .title-project {
  font-size: 23px;
  color: gold;
  font-weight: 600;
}
section.project .container .project-content .card-video .desc-container .desc-project {
  margin-bottom: 15px;
}
section.project .container .project-content .card-video .desc-container .author-container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
section.project .container .project-content .card-video .desc-container .author-container .author {
  width: -moz-max-content;
  width: max-content;
  height: 45px;
  padding: 7px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
section.project .container .project-content .card-video .desc-container .author-container .author img {
  width: 34px;
  height: auto;
  border-radius: 100%;
  background-color: gold;
}
section.project .container .project-content .card-video .desc-container .author-container .author p {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  padding-left: 7px;
  margin: 0;
}
section.project .container .project-content .card-video .desc-container .tools-project {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}
section.project .container .project-content .card-video .desc-container .tools-project .tools {
  width: -moz-max-content;
  width: max-content;
  height: 45px;
  display: flex;
  align-items: center;
}
section.project .container .project-content .card-video .desc-container .tools-project .tools img {
  width: 37px;
  margin: 0 5px;
}
section.project .container .project-content .card-video .desc-container .btn {
  width: -moz-max-content;
  width: max-content;
  margin: 20px 0 0 0;
  border-radius: 0;
  font-size: 14px;
}
section.project .container .project-content .card-img {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
section.project .container .project-content .card-img .img-container {
  width: 45%;
  background-color: aliceblue;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
}
section.project .container .project-content .card-img .img-container img {
  width: 100%;
  height: 100%;
}
section.project .container .project-content .card-img .desc-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
section.project .container .project-content .card-img .desc-container p {
  margin: 0;
}
section.project .container .project-content .card-img .desc-container .title-project {
  font-size: 23px;
  color: gold;
  font-weight: 600;
}
section.project .container .project-content .card-img .desc-container .desc-project {
  margin-bottom: 15px;
}
section.project .container .project-content .card-img .desc-container .author-container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
section.project .container .project-content .card-img .desc-container .author-container .author {
  width: -moz-max-content;
  width: max-content;
  height: 45px;
  padding: 7px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
section.project .container .project-content .card-img .desc-container .author-container .author img {
  width: 34px;
  height: auto;
  border-radius: 100%;
  background-color: gold;
}
section.project .container .project-content .card-img .desc-container .author-container .author p {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  padding-left: 7px;
  margin: 0;
}
section.project .container .project-content .card-img .desc-container .tools-project {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}
section.project .container .project-content .card-img .desc-container .tools-project .tools {
  width: -moz-max-content;
  width: max-content;
  height: 45px;
  display: flex;
  align-items: center;
}
section.project .container .project-content .card-img .desc-container .tools-project .tools img {
  width: 37px;
  margin: 0 5px;
}
section.project .container .project-content .card-img .desc-container .btn {
  width: -moz-max-content;
  width: max-content;
  margin: 20px 0 0 0;
  border-radius: 0;
  font-size: 14px;
}
section.project .container .project-content .row-reverse {
  flex-direction: row-reverse;
}

footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 0;
  background-color: black;
  z-index: 20;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container .footer-spec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 60px;
}
footer .container .footer-spec div {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 10px;
  border-left: 2px solid gold;
}
footer .container .footer-spec ul {
  margin: 0;
  padding: 0;
}
footer .container .footer-spec ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .container .footer-spec a {
  text-decoration: none;
  color: whitesmoke;
}
footer .container .footer-spec a:hover {
  color: rgb(66, 66, 253);
}
footer .container .footer-spec h5 a {
  color: gold;
}
footer .container .container-icon {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  position: relative;
  margin-bottom: 60px;
  border-top: 1px solid whitesmoke;
}
footer .container .container-icon a {
  color: gold;
}
footer .container .container-icon a p {
  font-size: 25px;
  padding: 5px 10px;
}
footer .container .container-icon a:hover {
  color: rgb(66, 66, 253);
}
footer .container .desc p {
  color: whitesmoke;
  text-align: center;
}

@media (max-width: 575.98px) {
  footer .container .footer-spec {
    flex-wrap: wrap;
  }
  footer .container .footer-spec div {
    border: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10px 15px 0;
  }
}
body {
  background-color: rgb(32, 32, 32);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span.certified {
  color: rgb(0, 187, 0);
  border: 1.5px solid rgb(0, 187, 0);
  padding: 0px 3px 1px 3px;
  border-radius: 15px;
}

/* TOOLS*/
.gold-text {
  color: gold;
}

.white-text {
  color: whitesmoke;
}

.green-text {
  color: rgb(0, 187, 0);
}

.btn {
  background-color: gold;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(32, 32, 32);
  text-decoration: none;
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn.dark-bg {
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  border: 1px solid gold;
}

.btn:hover {
  background-color: rgb(32, 32, 32);
  border: 1px solid gold;
  color: whitesmoke;
}

/* =================== RESPONSIVE BREAKPOINTS ====================== */
@media (max-width: 575.98px) {
  section.intro {
    height: -moz-max-content;
    height: max-content;
  }
  section.intro .container {
    padding: 25px 10px;
  }
  section.intro .container .card {
    flex-direction: column;
    align-items: flex-start;
  }
  section.intro .container .card .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.intro .container .card .card-img img {
    width: 100%;
  }
  section.intro .container .card .card-body {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  section.intro .container .card .card-body .header h1 {
    font-size: 22px;
  }
  section.intro .container .card .card-body .desc {
    font-size: 14px;
  }
  section.intro .container .card .card-body .container-btn a {
    font-size: 16px;
  }
  section.services .container-fluid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }
  section.services .container-fluid .title h1 {
    font-size: 20px;
    box-shadow: 0px 18px 0px 11px rgb(32, 32, 32);
  }
  section.services .container-fluid .title p {
    font-size: 14px;
  }
  section.services .container-fluid .flex-end {
    display: flex;
    align-self: flex-end;
  }
  section.services .container-fluid .flex-start {
    display: flex;
    align-self: flex-start;
  }
  section.services .container-fluid .card {
    width: 70%;
  }
  section.services .container-fluid .card .card-desc h3 {
    font-size: 14px;
  }
  section.project {
    padding: 25px 0;
  }
  section.project .title {
    margin-bottom: 40px;
  }
  section.project .title h1 {
    font-size: 20px;
  }
  section.project .row {
    padding: 0;
    margin: 0;
  }
  section.project .row .card {
    width: 100%;
  }
  section.project .row .card .card-img {
    width: 50%;
  }
  section.project .row .card .card-desc {
    width: 50%;
  }
  section.project .row .card .card-desc h3 {
    font-size: 15px;
  }
  section.project .row .card .card-desc p {
    font-size: 13px;
  }
  section.project .row .card .card-desc .tools-img {
    height: 20px;
    margin-top: 10px;
  }
  section.project .row .card .card-desc .container-author {
    margin-top: 20px;
  }
  section.project .row .card .card-desc .container-author .author {
    height: -moz-max-content;
    height: max-content;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  section.project .row .card .card-desc .container-author .author .author-img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  section.project .row .card .card-desc .container-author .author .author-profile {
    width: 100%;
  }
  section.project .row .card .card-desc .container-author .author .author-profile h5 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  section.project .row .card .card-desc .container-author .author .author-profile p {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  section.intro {
    height: -moz-max-content;
    height: max-content;
  }
  section.intro .container {
    padding: 30px 0;
  }
  section.intro .container .card {
    flex-direction: column;
  }
  section.intro .container .card .card-img {
    width: 100%;
  }
  section.intro .container .card .card-body {
    width: 100%;
    display: flex;
    align-self: flex-start;
  }
  section.services .container-fluid .title h1 {
    font-size: 28px;
  }
  section.services .container-fluid .title p {
    font-size: 14px;
  }
  section.services .container-fluid .card .card-desc h3 {
    font-size: 18px;
  }
  section.project .row {
    padding: 0;
    margin: 0;
  }
  section.project .row .card {
    width: 100%;
  }
  section.project .row .card .card-img {
    width: 50%;
  }
  section.project .row .card .card-desc {
    width: 50%;
  }
  section.project .row .card .card-desc h3 {
    font-size: 20px;
  }
  section.project .row .card .card-desc p {
    font-size: 15px;
  }
  section.project .row .card .card-desc .tools-img {
    height: 25px;
    margin-top: 10px;
  }
  section.project .row .card .card-desc .container-author {
    margin-top: 20px;
  }
  section.project .row .card .card-desc .container-author .author {
    height: -moz-max-content;
    height: max-content;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  section.project .row .card .card-desc .container-author .author .author-img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  section.project .row .card .card-desc .container-author .author .author-profile {
    width: 100%;
  }
  section.project .row .card .card-desc .container-author .author .author-profile h5 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  section.project .row .card .card-desc .container-author .author .author-profile p {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */