@use 'modules/navbar';
@use 'modules/contact';
@use 'modules/intro';
@use 'modules/services';
@use 'modules/project';
@use 'modules/footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
}
span.certified{
  color: rgb(0, 187, 0);
  border: 1.5px solid rgb(0, 187, 0);
  padding: 0px 3px 1px 3px;
  border-radius: 15px;
}



/* TOOLS*/
.gold-text {
  color: gold;
}

.white-text {
  color: whitesmoke;
}
.green-text{
  color:rgb(0, 187, 0);;
}

.btn {
  background-color: gold;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(32, 32, 32);
  text-decoration: none;
  border-radius: 10px;
  transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn.dark-bg {
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  border: 1px solid gold;
}

.btn:hover {
  background-color: rgb(32, 32, 32);
  border: 1px solid gold;
  color: whitesmoke;
}



/* =================== RESPONSIVE BREAKPOINTS ====================== */

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  
  // INTRO
  section.intro {
    height: max-content;

    .container {
      padding: 25px 10px;

      .card {
        flex-direction: column;
        align-items: flex-start;

        .card-img {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
          }
        }

        .card-body {
          width: 100%;
          height: max-content;

          .header {

            h1 {
              font-size: 22px;
            }
          }

          .desc {
            font-size: 14px;
          }

          .container-btn {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  // SERVICES
  section.services {

    .container-fluid {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px 0;

      .title {
        h1 {
          font-size: 20px;
          box-shadow: 0px 18px 0px 11px rgb(32 32 32);
        }

        p {
          font-size: 14px;
        }
      }

      .flex-end {
        display: flex;
        align-self: flex-end;
      }

      .flex-start {
        display: flex;
        align-self: flex-start;
      }

      .card {
        width: 70%;

        .card-desc {
          h3 {
            font-size: 14px;
          }
        }
      }
    }
  }

  // project
  section.project {
    padding: 25px 0;

    .title {
      h1 {
        font-size: 20px;
      }

      margin-bottom: 40px;
    }

    .row {
      padding: 0;
      margin: 0;

      .card {
        width: 100%;

        .card-img {
          width: 50%;
        }

        .card-desc {
          width: 50%;

          h3 {
            font-size: 15px;
          }

          p {
            font-size: 13px;
          }

          .tools-img {
            height: 20px;
            margin-top: 10px;
          }

          .container-author {
            margin-top: 20px;

            .author {
              height: max-content;
              flex-direction: column;
              margin-bottom: 10px;
              justify-content: center;
              align-items: center;

              .author-img {
                width: 30px;
                height: 30px;
                margin-bottom: 5px;

              }

              .author-profile {
                width: 100%;

                h5 {
                  font-size: 12px;
                  margin: 0;
                  padding: 0;
                  text-align: center;
                }

                p {
                  font-size: 12px;
                  font-weight: normal;
                  text-align: center;
                }
              }

            }
          }
        }

      }
    }

  }

  // footer
  // footer {
  //   height: max-content;
  //   padding: 20px;

  //   .container {
  //     width: 80%;
  //     justify-content: space-around;

  //     div {
  //       p:first-child {
  //         font-size: 23px;
  //       }

  //       p:nth-child(2) {
  //         display: none;
  //       }
  //     }
  //   }
  // }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
   // INTRO
   section.intro {
    height: max-content;

    .container {
      padding: 30px 0;

      .card {
        flex-direction: column;

        .card-img {
          width: 100%;
        }

        .card-body {
          width: 100%;
          display: flex;
          align-self: flex-start;
        }
      }
    }
  }

  // SERVICES
  section.services{
    .container-fluid{
      .title{
        h1{
          font-size: 28px;
        }
        p{
          font-size: 14px;
        }
      }

      .card{

        .card-desc{
          h3{
            font-size: 18px;
          }
        }
      }
    }
  }

  // PROJECT
  section.project{
    .row {
      padding: 0;
      margin: 0;

      .card {
        width: 100%;

        .card-img {
          width: 50%;
        }

        .card-desc {
          width: 50%;

          h3 {
            font-size: 20px;
          }

          p {
            font-size: 15px;
          }

          .tools-img {
            height: 25px;
            margin-top: 10px;
          }

          .container-author {
            margin-top: 20px;

            .author {
              height: max-content;
              flex-direction: column;
              margin-bottom: 10px;
              justify-content: center;
              align-items: center;

              .author-img {
                width: 40px;
                height: 40px;
                margin-bottom: 5px;

              }

              .author-profile {
                width: 100%;

                h5 {
                  font-size: 14px;
                  margin: 0;
                  padding: 0;
                  text-align: center;
                }

                p {
                  font-size: 13px;
                  font-weight: normal;
                  text-align: center;
                }
              }

            }
          }
        }

      }
    }
  }

  // FOOTER
  // footer {
  //   height: max-content;
  //   padding: 20px;

  //   .container {
  //     width: 70%;
  //     justify-content: space-around;

  //     div {
  //       p:first-child {
  //         font-size: 26px;
  //       }

  //       p:nth-child(2) {
  //         display: none;
  //       }
  //     }
  //   }
  // }
}

// `lg` applies to medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) { ... }