@use'../../../assets/css/modules/navbar';
@use'../../../assets/css/modules/contact';
@use'../../../assets/css/modules/footer';
@use'modules/publication';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color:rgb(32, 32, 32);
}


/* TOOLS */
/* gold-text */
.gold-text {
    color: gold;
}

.white-text {
    color: whitesmoke;
}

.dark-text {
    color: rgb(32, 32, 32);
}

/* btn */
.btn {
    background-color: gold;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(32, 32, 32);
    text-decoration: none;
    border-radius: 10px;
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn.dark-bg {
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    border: 1px solid gold;
}

.btn:hover {
    background-color: rgb(32, 32, 32);
    border: 1px solid gold;
    color: whitesmoke;
}

