nav {
  background-color: rgb(32, 32, 32);
  width: 100%;
}

nav .container-fluid button {
  background-color: #ffd700;
}

nav .nav-link {
  color: gold;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.4, 0.82, 0.32, 0.96);
}

nav .nav-link.on {
  color: whitesmoke;
}

nav .nav-link.on i {
  color: gold;
}

nav .nav-link i {
  color: rgba(0, 0, 0, 0);
  transition: 0.3s cubic-bezier(0.4, 0.82, 0.32, 0.96);
}

nav .nav-link:hover {
  color: whitesmoke;
}

nav .nav-link:hover i {
  color: #ffd700;
  transition: 0.3s cubic-bezier(0.27, 0.74, 0.45, 0.9);
}

section.contact {
  overflow: hidden;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  position: fixed;
  bottom: 75px;
  left: 20px;
  transition: 0.7s cubic-bezier(0.07, 1.09, 0.56, 1.22);
  box-shadow: 0px 0px 3px 0px rgba(32, 32, 32, 0.411);
  z-index: 1000;
}

section.contact .icon {
  float: left;
  width: 100%;
  height: 100%;
}

section.contact .icon i {
  display: block;
  color: rgb(32, 32, 32);
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

section.contact .desc {
  float: left;
  height: 100%;
  width: 75%;
}

section.contact .desc a {
  display: none;
}

section.contact:hover {
  background-color: #ffd700;
  width: 160px;
  box-shadow: 0px 0px 3px 0px rgba(32, 32, 32, 0.336);
}

section.contact:hover .icon {
  width: 25%;
}

section.contact:hover .desc a {
  box-sizing: border-box;
  color: rgb(32, 32, 32);
  display: block;
  line-height: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
}

footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 0;
  background-color: black;
  z-index: 20;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container .footer-spec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 60px;
}
footer .container .footer-spec div {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 10px;
  border-left: 2px solid gold;
}
footer .container .footer-spec ul {
  margin: 0;
  padding: 0;
}
footer .container .footer-spec ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .container .footer-spec a {
  text-decoration: none;
  color: whitesmoke;
}
footer .container .footer-spec a:hover {
  color: rgb(66, 66, 253);
}
footer .container .footer-spec h5 a {
  color: gold;
}
footer .container .container-icon {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  position: relative;
  margin-bottom: 60px;
  border-top: 1px solid whitesmoke;
}
footer .container .container-icon a {
  color: gold;
}
footer .container .container-icon a p {
  font-size: 25px;
  padding: 5px 10px;
}
footer .container .container-icon a:hover {
  color: rgb(66, 66, 253);
}
footer .container .desc p {
  color: whitesmoke;
  text-align: center;
}

@media (max-width: 575.98px) {
  footer .container .footer-spec {
    flex-wrap: wrap;
  }
  footer .container .footer-spec div {
    border: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10px 15px 0;
  }
}
section.publication {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
}
section.publication .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.publication .container .title {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 100px;
  color: whitesmoke;
  position: relative;
}
section.publication .container .title::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid gold;
}
section.publication .container a {
  color: rgb(32, 32, 32);
  text-decoration: none;
}
section.publication .container a .card {
  width: 600px;
  max-height: 231px;
  background-color: gold;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 0;
}
section.publication .container a .card .card-img {
  width: 30%;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}
section.publication .container a .card .card-img img {
  width: 100%;
  border-radius: 7px;
  transition: 0.3s cubic-bezier(0.3, 0.82, 0.4, 1.01);
}
section.publication .container a .card .card-desc {
  width: 70%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.publication .container a .card .card-desc h5 {
  text-transform: capitalize;
}
section.publication .container a .card .card-desc h5 span.dots {
  display: none;
}
section.publication .container a .card:hover img {
  transform: scale(1.2);
  filter: blur(1px);
}

/* ======================== RESPONSIVE ====================== */
@media (max-width: 575.98px) {
  section.publication .container a .card {
    padding: 5px;
  }
  section.publication .container a .card .card-img {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.publication .container a .card .card-desc {
    width: 65%;
  }
  section.publication .container a .card .card-desc h5 {
    font-size: 18px;
  }
  section.publication .container a .card .card-desc h5 span.dots {
    display: block;
  }
  section.publication .container a .card .card-desc h5 span.hide {
    display: none;
  }
}
@media (max-width: 767.98px) {
  section.publication .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  section.publication .container a {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
  }
  section.publication .container a .card {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: rgb(32, 32, 32);
}

/* TOOLS */
/* gold-text */
.gold-text {
  color: gold;
}

.white-text {
  color: whitesmoke;
}

.dark-text {
  color: rgb(32, 32, 32);
}

/* btn */
.btn {
  background-color: gold;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(32, 32, 32);
  text-decoration: none;
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn.dark-bg {
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  border: 1px solid gold;
}

.btn:hover {
  background-color: rgb(32, 32, 32);
  border: 1px solid gold;
  color: whitesmoke;
}/*# sourceMappingURL=main.css.map */