/* import components */
@import url('./components/main.css');
@import url('./components/header.css');
@import url('./components/navigation.css');
@import url('./components/about.css');

:root {
  /* color */
  --grey: rgb(63, 63, 63);
  --darker-grey: #222;
  --blue: #61DAFB;
  --darker-blue: #61aabe;
  --white:#fff;
  --darker-white:#b6b6b6;
  /* font family */
  --ff-montserrat: "Montserrat", sans-serif;
  /* font-size */
  /* title */
  --fs-title-mobile: 1rem;
  --fs-title-tablet: 1.3rem;
  --fs-title-laptop: 3.5vw;
  /* paragreaph */
  --fs-paragraph-mobile: .8rem;
  --fs-paragraph-tablet: 1rem;
  /* transition */
  --transition-1: .3s ease-out;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--darker-grey);
  font-family: var(--ff-montserrat);
  letter-spacing: 1.9px;
}
